APP_PORT=5000

MYSQL_PORT=3306
MYSQL_DATABASE=alihsan_mobile
MYSQL_USER=alihsan
MYSQL_PASSWORD=alihsan_password
MYSQL_ROOT_PASSWORD=root_password

PRIME_BASE_URL=http://host.docker.internal:8000
PRIME_API_KEY=change_me
PRIME_API_SECRET=change_me

WAAFI_URL=https://api.waafipay.net/asm
WAAFI_MERCHANT_UID=change_me
WAAFI_API_USER_ID=change_me
WAAFI_API_KEY=change_me
WAAFI_CHANNEL_NAME=WEB

HORMUUD_SMS_USERNAME=change_me
HORMUUD_SMS_PASSWORD=change_me
HORMUUD_SMS_SENDER_ID=252612221335
